.grid{
  padding: 12px 32px;
}
hr{
  margin: 20px 32px;
}
/* .MuiGrid-spacing-xs-4{
  width: 100% !important;
} */
.padding{
  padding: 12px 20px 12px 32px;
}
.map{
  padding: 12px 32px 12px 20px;
}
.mapTitle{
  padding-bottom: 8px;
}
.mychart{
  margin-top: 30px ;
}